{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/mylogo1.png' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Planeto Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'CSS/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'CSS/style.css' %}" rel='stylesheet' type='text/css' />
<script src="{% static 'JS/jquery-1.11.0.min.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="{% static 'JS/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'JS/easing.js' %}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

<!--start-smoth-scrolling-->
</head>
<body>
<!--start-banner-->
	<div class="banner banner1" id="home">
			<div class="header">
			<div class="logo">
				<img style="size: 10pt;" src="{% static 'images/mylogo1.png' %}">
				<a href="{% url 'app:index' %}"><b style="font-size: 30px;">REHUB DEVELOPERS</b> <p>founded by Kingsley Rhema</p></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="{% url 'app:index' %}">HOME</a></li><span><img src="images/clk.png" alt="" /></span>
						<li><a href="{% url 'app:about' %}"  class="active">ABOUT US</a></li><span><img src="images/clk.png" alt="" /></span>
						<li><a href="{% url 'app:services' %}">SERVICES</a></li><span><img src="images/clk.png" alt="" /></span>
						<li><a href="{% url 'app:projects' %}">PROJECTS</a></li><span><img src="images/clk.png" alt="" /></span>
						
						<li><a href="{% url 'app:contact' %}">CONTACT</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			<div class="banner-main">
				<div class="container">	
					<div class="banner-top bnr-top">
						<h1>hello, we’re Rehub</h1>
					</div>
				</div>
				</div>
			</div>	
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	
	<!--end-banner-->
	<!--start-about-->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<h3>few words about us ..</h3>
				<p>Welcome to our website! We are a team of young developers with a passion for creating innovative solutions to real-world problems. Our mission is to use our skills in programming, design, and technology to create websites, apps, and other digital products that make people's lives easier and more enjoyable.</p>
			</div>	
				<div class="about-bottom">
					<div class="col-md-6 about-left">
						<p>As a team, we bring a fresh perspective to the world of tech. We're not afraid to take risks and try new things, which is why we've been able to come up with some truly unique ideas. Whether we're building a new app from scratch or improving an existing product, we always strive to deliver the best possible user experience.</p>
					</div>
					<div class="col-md-6 about-left">
						<p>So if you're looking for a team of talented, dedicated developers who are committed to delivering high-quality results, look no further! We're excited to work with you and help bring your ideas to life.</p>
					</div>
					<div class="clearfix"></div>
				</div>
		</div>
	</div>
	<!--end-about-->
	
<!--start-team-->
<div class="team">
	<div class="container">
	  <div class="team-top">
		<h3>rehub dream team</h3>
	  </div>
	  <div class="team-main">
		<div class="team-one">
		  <div class="col-md-3 team-left">
			<img style="border-radius: 10%;" src="{% static 'images/teammain1.jpg' %}" alt="" />
		  </div>
		  <div class="col-md-3 team-left">
			<div class="team-text">
			  <span>Ceo / founder</span>
			  <h4>KINGSLEY RHEMA</h4>
			  <ul>
				<li><a href="mailto:inforehubdeveloper@gmail.com">EMAIL</a> <label> </label></li>
				<li><a href="https://web.facebook.com/remzo.kingsley">FACEBOOK</a> <label> </label></li>
				<li><a href="#">TWITTER</a></li>
			  </ul>
			</div>
		  </div>
		  <!-- Add more team members here -->
		</div>
		<div class="clearfix"></div>
	  </div>
	</div>
  </div>
  <!--end-team-->
  
  <!--start-founder-->
  <div class="founder">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <h3>About the CEO/Founder</h3>
		  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate id fugiat aliquam pariatur illum. Aut libero facere doloremque nesciunt, reprehenderit illum asperiores soluta voluptatem veritatis incidunt neque perspiciatis illo ullam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident cupiditate ullam dicta modi mollitia ut accusamus vitae, reiciendis sit, iusto odit? Tempore officiis commodi, distinctio placeat ea recusandae accusamus ab!</p>
		</div>
	  </div>
	</div>
  </div>
  <!--end-founder-->
  
  
		
			<div class="team-msg">
				<div class="col-md-7 team-msg-left">
					<p>Wanna be part of planeto’s dream team?</p>
				</div>
				<div class="col-md-5 team-msg-right">
					<a href="mailto:kingsleyrhema125@gmail.com">SEND US MESSAGE</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-team-->
	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="contact">
					<div class="col-md-8 contact-left">
						<img style="size: 10pt;" src="{% static 'images/mylogo1.png' %}">
						<b style="font-size: 30px;">REHUB DEVELOPERS</b> <p>founded by Kingsley Rhema</p>
					</div>
					<div class="col-md-4 contact-right footer-left">
						<h3>QUICK CONTACTS</h3>
						<p>+234 808 204 6332</p>
						<p><a href="mailto:inforehubdeveloper@gmail.com" style="font-size: 20px;">OR click to send us a mail @ inforehubdeveloper@gmail.com</a></p>
						<ul>
							<li><a href="https://web.facebook.com/remzo.kingsley"><span class="fb"><img style="height: 30px;" src="{% static 'images/fb_icon.jpg' %}"> </span></a></li>
							<li><a href="https://twitter.com/ikechukwurhema"><span class="twit"><img style="height: 30px;" src="{% static 'images/twitter_icon.jpg' %}"></span></a></li>
							<li><a href="https://www.instagram.com/kingsleyrhema/"><span class="insta"><img style="height: 30px;" src="{% static 'images/insta_icon.jpeg' %}"></span></a></li>
							<li><a href="https://www.youtube.com/channel/UChHGxpOkkYciX_1SSL0LKpw"><span class="sky"> <img style="height: 50px;" src="{% static 'images/youtube_icon.jpg' %}"> </span></a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--end-footer-->
</body>
</html>