{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>About Us</title>
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/mylogo1.png' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Planeto Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'CSS/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'CSS/style.css' %}" rel='stylesheet' type='text/css' />
<script src="{% static 'JS/jquery-1.11.0.min.js' %}"></script>
<link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="{% static 'JS/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'JS/easing.js' %}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

<!--start-smoth-scrolling-->
<style>
	.founder .col-md-6 p {
	  font-size: 16px;
	  line-height: 1.6;
	  color: #333333;
	  margin-bottom: 20px;
	}
  </style>
  
</head>
<body>
<!--start-banner-->
	<div class="banner banner1" id="home">
			<div class="header">
			<div class="logo">
				<img style="size: 10pt;" src="{% static 'images/mylogo1.png' %}">
				<a href="{% url 'app:index' %}"><b style="font-size: 30px;">REHUB DEVELOPERS</b> <p>founded by Kingsley Rhema</p></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="{% url 'app:index' %}">HOME</a></li><span><img src="images/clk.png" alt="" /></span>
						<li><a href="{% url 'app:about' %}"  class="active">ABOUT US</a></li><span><img src="images/clk.png" alt="" /></span>
						<li><a href="{% url 'app:services' %}">SERVICES</a></li><span><img src="images/clk.png" alt="" /></span>
						<li><a href="{% url 'app:projects' %}">PROJECTS</a></li><span><img src="images/clk.png" alt="" /></span>
						
						<li><a href="{% url 'app:contact' %}">CONTACT</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			<div class="banner-main">
				<div class="container">	
					<div class="banner-top bnr-top">
						<h1>hello, we’re Rehub</h1>
					</div>
				</div>
				</div>
			</div>	
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	
	<!--end-banner-->
	<!--start-about-->
	<div class="about">
		<div class="container">
			<div class="about-top">
				<h3>few words about us ..</h3>
				<p>Welcome to our website! We are a team of young developers with a passion for creating innovative solutions to real-world problems. Our mission is to use our skills in programming, design, and technology to create websites, apps, and other digital products that make people's lives easier and more enjoyable.</p>
			</div>	
				<div class="about-bottom">
					<div class="col-md-6 about-left">
						<p>As a team, we bring a fresh perspective to the world of tech. We're not afraid to take risks and try new things, which is why we've been able to come up with some truly unique ideas. Whether we're building a new app from scratch or improving an existing product, we always strive to deliver the best possible user experience.</p>
					</div>
					<div class="col-md-6 about-left">
						<p>So if you're looking for a team of talented, dedicated developers who are committed to delivering high-quality results, look no further! We're excited to work with you and help bring your ideas to life.</p>
					</div>
					<div class="clearfix"></div>
				</div>
		</div>
	</div>
	<!--end-about-->
	
<!--start-team-->
<div class="team">
	<div class="container">
	  <div class="team-top">
		<h3>rehub dream team</h3>
	  </div>
	  <div class="team-main">
		<div class="team-one">
		  <div class="col-md-3 team-left">
			<img style="border-radius: 10%;" src="{% static 'images/teammain1.jpg' %}" alt="" />
		  </div>
		  <div class="col-md-3 team-left">
			<div class="team-text">
			  <span>Ceo / founder</span>
			  <h4>KINGSLEY RHEMA</h4>
			  <ul>
				<li><a href="mailto:inforehubdeveloper@gmail.com">EMAIL</a> <label> </label></li>
				<li><a href="https://web.facebook.com/remzo.kingsley">FACEBOOK</a> <label> </label></li>
				<li><a href="#">TWITTER</a></li>
			  </ul>
			</div>
		  </div>
		  <!-- Add more team members here -->
		</div>
		<div class="clearfix"></div>
	  </div>
	</div>
  </div>
  <!--end-team-->
  <!--start-founder-->
<div class="founder">
	<div class="container">
	  <div class="row">
		<div class="col-md-6">
		  <h3>About the CEO/Founder</h3>
		  <p>Welcome to my web page! I am a tech enthusiast with a strong dedication to providing top-notch tech services. With a lifelong passion for technology, I have honed my skills and expertise to offer a range of services tailored to meet your technological needs.</p>
  
		  <p>From advanced Python programming to the exciting realm of machine learning and the revolutionary potential of blockchain technology, I bring a wealth of knowledge and experience to the table. I am committed to delivering high-quality solutions that leverage the latest advancements in the tech industry.</p>
		  
		  <p>Whether you require assistance in developing custom software solutions, implementing machine learning algorithms, or exploring the potential of blockchain applications, I am here to guide you every step of the way. With a focus on innovation and efficiency, I strive to deliver results that exceed your expectations.</p>
		</div>
		<div class="col-md-6">
		  <p>By choosing my tech services, you gain access to a dedicated professional who will work tirelessly to understand your unique requirements and provide tailored solutions that align with your goals. I pride myself on delivering exceptional service, ensuring that your experience is seamless, efficient, and ultimately successful.</p>
  
		  <p>I am talented in multitasking, allowing me to handle multiple aspects of your project simultaneously. This enables me to streamline the process, save time, and deliver efficient results without compromising quality.</p>
  
		  <p>I invite you to explore the various services I offer and get in touch to discuss how I can assist you with your tech needs. Together, let's unlock the power of technology and embark on a journey of growth and success.</p>
		</div>
	  </div>
	</div>
  </div>
  <!--end-founder-->
  
		
			<div class="team-msg">
				<div class="col-md-7 team-msg-left">
					<p>Wanna be part of planeto’s dream team?</p>
				</div>
				<div class="col-md-5 team-msg-right">
					<a href="mailto:kingsleyrhema125@gmail.com">SEND US MESSAGE</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--end-team-->
	<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="contact">
					<div class="col-md-8 contact-left">
						<img style="size: 10pt;" src="{% static 'images/mylogo1.png' %}">
						<b style="font-size: 30px;">REHUB DEVELOPERS</b>
						<p style="font-size: 16px;">founded by Kingsley Rhema</p>
						<div class="newsletter-form" style="margin-top: 20px;">
							<h3 style="font-size: 24px;">Subscribe to Our Newsletter</h3>
							{% if messages %}
								<div id="newsletter-modal-box" style="display: block;">
									<button id="close-modal">Close</button>
									{% for message in messages %}
										<h3>{{ message }}</h3>
									{% endfor %}
								</div>
							{% endif %}
							<form class="newsletter-form" id="newsletter-form" method="POST">
								{% csrf_token %}
								<br><input class="newsletter-input" type="email" name="email" id="email-input" placeholder="Your email address" required>
								<br><button class="newsletter-submit" name="send_nwls" value="submit" type="submit" id="submit-button" disabled>Subscribe</button>
							</form>
						</div>
					</div>
					<div class="col-md-4 contact-right footer-left">
						<h3 style="font-size: 20px;">QUICK CONTACTS</h3>
						<p style="font-size: 18px;"><b>+234 808 204 6332</p>
						<p style="font-size: 20px;">
							<a href="mailto:inforehubdeveloper@gmail.com" style="display: inline-block; padding: 3px 8px; background-color: #f5f5f5; color: #333; text-decoration: none; border-radius: 5px; border: 1px solid #ccc; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);">
								inforehubdeveloper@gmail.com
							</a>
						</p>
						<p style="font-size: 16px;"><a href="mailto:inforehubdeveloper@gmail.com"></a></p>
						
						
						<ul>
							<li><a href="https://web.facebook.com/remzo.kingsley"><span class="fb"><img style="height: 30px;" src="{% static 'images/fb_icon.jpg' %}"> </span></a></li>
							<li><a href="https://twitter.com/ikechukwurhema"><span class="twit"><img style="height: 30px;" src="{% static 'images/twitter_icon.jpg' %}"></span></a></li>
							<li><a href="https://www.instagram.com/kingsleyrhema/"><span class="insta"><img style="height: 30px;" src="{% static 'images/insta_icon.jpeg' %}"></span></a></li>
							<li><a href="https://www.youtube.com/channel/UChHGxpOkkYciX_1SSL0LKpw"><span class="sky"> <img style="height: 50px;" src="{% static 'images/youtube_icon.jpg' %}"> </span></a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	
	<style>
		#newsletter-modal-box {
			display: none;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #fff;
			padding: 20px;
			width: 450px;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
			z-index: 9999;
			text-align: center;
		}
	
		#close-modal {
			display: none;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			color: #333;
			background-color: #fff;
			border: none;
			font-size: 16px;
			padding: 5px;
			border-radius: 50%;
			box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		}
	
		#close-modal:hover {
			color: #fff;
			background-color: #333;
		}
		
	</style>
	
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var closeButton = document.getElementById("close-modal");
			var modalBox = document.getElementById("newsletter-modal-box");
	
			closeButton.addEventListener("click", function() {
				modalBox.style.display = "none";
				closeButton.style.display = "none";
			});
	
			{% if messages %}
				modalBox.style.display = "block";
				closeButton.style.display = "block";
			{% endif %}
		});
	</script>


<script>
	// Enable submit button when the email input has a valid format
	document.getElementById('email-input').addEventListener('input', function (event) {
		var emailInput = event.target;
		var submitButton = document.getElementById('submit-button');
		submitButton.disabled = !emailInput.validity.valid;
	});
</script>
	
	<!--end-footer-->
</body>
</html>