<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-11258240476"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-11258240476');
</script>
<!-- Event snippet for Website traffic conversion page -->
<script>
	gtag('event', 'conversion', {'send_to': 'AW-11258240476/oOThCMzP5roYENy7rPgp'});
  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% for message in messages %}
<h2>{{ message }}</h2>
{% endfor %}
<a href="{% url 'app:index' %}"><button value="goback" type="submit" name="back" >Go back</button></a>

<!--<h1>Do you want to unsuscribe click the button below</h1>
<form method="POST">

<button name="unsuscribe" type="submit" value="delete">UNSUSCRIBE</button>
</form>-->
</body>
</html>